# plcExample.template
#% macro, __doc__, Template database for test rig on I06
#% macro, PORT, Port Name

record(ai, "BL06I-TS-TMON-01:TEMP:ROOM") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) BL06C_EA_RACK_ROOM_TEMP")
  field(SCAN, "1 second")
  field(PREC, "2")
  field(EGUL, "-10")
  field(EGUF, "10")
  field(EGU, "C")
  field(LINR, "LINEAR")
  field(DESC, "ERIO Node2 Ch1 Room Temp")
}

record(ai, "BL06I-TS-TMON-01:TEMP:INLET") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) BL06C_EA_RACK_INLET_TEMP")
  field(SCAN, "1 second")
  field(PREC, "2")
  field(EGUL, "-10")
  field(EGUF, "10")
  field(EGU, "C")
  field(LINR, "LINEAR")
  field(DESC, "ERIO Node2 Ch2 Inlet Temp")
}

record(ai, "BL06I-TS-TMON-01:TEMP:OUTLET") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) BL06C_EA_RACK_OUTLET_TEMP")
  field(SCAN, "1 second")
  field(PREC, "2")
  field(EGUL, "-10")
  field(EGUF, "10")
  field(EGU, "C")
  field(LINR, "LINEAR")
  field(DESC, "ERIO Node2 Ch3 Outlet Temp")
}

record(ai, "BL06I-TS-TMON-01:TEMP:SPARE1") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) BL06C_EA_RACK_SPARE_TC1")
  field(SCAN, "1 second")
  field(PREC, "2")
  field(EGUL, "-10")
  field(EGUF, "10")
  field(EGU, "C")
  field(LINR, "LINEAR")
  field(DESC, "ERIO Node2 Ch4 Spare Temp")
}

record(ai, "BL06I-TS-TMON-01:TEMP:TOP") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) BL06C_EA_RACK_TOP_TEMP")
  field(SCAN, "1 second")
  field(PREC, "2")
  field(EGUL, "-10")
  field(EGUF, "10")
  field(EGU, "C")
  field(LINR, "LINEAR")
  field(DESC, "ERIO Node3 Ch1 Top Temp")
}

record(ai, "BL06I-TS-TMON-01:TEMP:CENTRE") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) BL06C_EA_RACK_CENTRE_TEMP")
  field(SCAN, "1 second")
  field(PREC, "2")
  field(EGUL, "-10")
  field(EGUF, "10")
  field(EGU, "C")
  field(LINR, "LINEAR")
  field(DESC, "ERIO Node3 Ch2 Centre Temp")
}

record(ai, "BL06I-TS-TMON-01:TEMP:BOTTOM") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) BL06C_EA_RACK_BOTTOM_TEMP")
  field(SCAN, "1 second")
  field(PREC, "2")
  field(EGUL, "-10")
  field(EGUF, "10")
  field(EGU, "C")
  field(LINR, "LINEAR")
  field(DESC, "ERIO Node3 Ch3 Bottom Temp")
}

record(ai, "BL06I-TS-TMON-01:TEMP:SPARE2") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) BL06C_EA_RACK_SPARE_TC2")
  field(SCAN, "1 second")
  field(PREC, "2")
  field(EGUL, "-10")
  field(EGUF, "10")
  field(EGU, "C")
  field(LINR, "LINEAR")
  field(DESC, "ERIO Node3 Ch4 Spare Temp")
}

record(ai, "BL06I-TS-TMON-01:HUMIDITY1") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) BL06C_EA_RACK_HUMIDITY1")
  field(SCAN, "1 second")
  field(PREC, "2")
  field(EGUL, "-10")
  field(EGUF, "10")
  field(EGU, "%")
  field(LINR, "LINEAR")
  field(DESC, "ERIO Node4 Ch1 Humidity")
}

record(ai, "BL06I-TS-TMON-01:HUMIDITY2") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) BL06C_EA_RACK_HUMIDITY2")
  field(SCAN, "1 second")
  field(PREC, "2")
  field(EGUL, "-10")
  field(EGUF, "10")
  field(EGU, "%")
  field(LINR, "LINEAR")
  field(DESC, "ERIO Node4 Ch2 Humidity")
}

record(bi, "BL06I-TS-TMON-01:PLC:LED") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) PLC_Healthy_LED")
  field(SCAN, "1 second")
  field(ZNAM, "Off")
  field(ONAM, "On")
  field(ZSV, "NO_ALARM")
  field(OSV, "NO_ALARM")
  field(COSV, "NO_ALARM")
  field(DESC, "PLC Healthy LED")
}

record(bi, "BL06I-TS-TMON-01:ERIO:LED") {
  field(DTYP, "EtherIP")
  field(INP, "@$(PORT) ERIO_Healthy_LED")
  field(SCAN, "1 second")
  field(ZNAM, "Off")
  field(ONAM, "On")
  field(ZSV, "NO_ALARM")
  field(OSV, "NO_ALARM")
  field(COSV, "NO_ALARM")
  field(DESC, "ERIO Healthy LED")
}